body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2b2b2f;
}

form {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #2b2b2f;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

input[type="radio"],
input[type="range"] {
    margin-right: 10px;
}

.textarea-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}

textarea {
    width: 100%; /* Use full width for the answer area */
    height: 300px; /* Keep height consistent */
    padding: 10px;
    box-sizing: border-box;
    color: white;
    background-color: #2b2b2f;
    border: 1px solid #0093d0; /* Add border for clarity */
    border-radius: 4px; /* Rounded corners */
}

button {
    padding: 10px 20px;
    background-color: #0093d0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px; /* Space above button */
}

button:hover {
    background-color: #003366;
}

input[type="file"] {
    display: none;
}

label[for="upload-doc"] {
    background-color: transparent;
    color: white;
    padding: 5px 20px;
    border: 2px solid #0093d0;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px; /* Space above label */
}

label[for="upload-doc"]:hover {
    background-color: #003366;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.uploaded-files {
    background-color: #2b2b2f;
    color: white;
    margin-top: 20px; /* Add space above uploaded files section */
    padding: 10px; /* Padding for better spacing */
    border-radius: 4px; /* Rounded corners for the uploaded files section */
}
